/* Reset Styles */

@import url(reset.css);

/* fonts */

@import url(font.css);


/* Custom Styles */

html {
    width: 100%;
    height: 100%;
}


body {
    font-family: SegoeUI-Regular;
    background: #f5f5f5;
}


a {
  position: relative;
  font-size: 16px;
  color: #0D47A1;
  line-height: 12px;
}


a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #1A237E;
}


h1 {
  font-family: SegoeUI-Bold;
  font-size: 32px;
  color: #212121;
}

h2 {
  margin: 40px 0 10px;
  font-family: SegoeUI-Bold;
  font-size: 24px;
  color: #444;
}

h3 {
  margin: 20px 0 10px;
  font-family: SegoeUI-Bold;
  font-size: 18px;
  color: #666;
}

h4 {
  margin: 0 0 10px;
  font-family: SegoeUI-Bold;
  font-size: 14px;
  color: #888;
}


p {
    color: #212121;
    font-size: 16px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:hover {
    color: #333;
    text-decoration: none;
  }

  &.btn-add {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    &:hover {
      background-color: #204d74;
      border-color: #122b40;
    }
  }

  &.btn-remove {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    &:hover {
      background-color: #c9302c;
      border-color: #ac2925;
    }
  }

  &.active {
    cursor: default;
    background-color: #888;
  }
}


section {
    position: relative;
    height: 530px;
    width: 406px;
}

section h1 {
    margin: 4px 30px 0 6px;
    float: left;
}


.raiting {
    padding: 3px 34px;
}

.raiting p {
    position: relative;
    top: 3px;
    color: #666;
}

.score {
    display: block;
    margin-top: -6px;
    text-align: center;
    color: #b71c1c;
}

.games {
    position: relative;
    margin: 24px 0 20px;
    height: 402px;
    width: 402px;
    border: 4px solid #757575;
    border-radius: 6px;
    box-shadow: 0 0 10px 2px #757575;
}

.blocks {
    position: absolute;
    width: 18px;
    height: 18px;
    float: left;
    border: 2px solid #ddd;
    border-radius: 1px;
    background-color: #fff;
    transition: background-color .3s;
}

div.snake {
    background-color: green;
}

div.food {
    background-color: blue;
}

div.over {
    background-color: red;
}

#superfood {
    background-color: #ff9800;
    -webkit-animation: superfood 1s linear infinite; 
    animation: superfood 1s linear infinite;
    opacity: 0.4;
}

 @-webkit-keyframes superfood { 
    0% {opacity: 1};
    50% {opacity: 0.5};
    100% {opacity: 1}; 
}

@keyframes superfood { 
    0% {opacity: 1};
    50% {opacity: 0.5};
    100% {opacity: 1}; 
}

.footer {
    position: relative;
    bottom: 0;    
}

.footer a {
    padding: 0 25px;
    color: #607d8b;
    text-decoration: underline;
    font: 400 18px HelveticaNeueCyr-Light;
}

.footer a:hover {
    color: #263238;
}

@media all and (max-width: 677px) and (orientation : landscape) {
    body {
        min-width: 500px;
        min-height: 200px;
        transform: scale(0.5);
    }
}